.card_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  min-height: 100vh;
}
.description {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  /* font-size: 0.85rem;   */
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
  margin-bottom: 20px;
}
.cat {
  display: inherit;
  justify-content: space-evenly;
  align-items: inherit;
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
  margin-bottom: 1rem;
  grid-template-columns: repeat(6, minmax(18%, auto));
}
.card {
  border-radius: 25px;
  margin: 20px;
  min-height: 500px;
  background-color: white;
}
.card_content {
    height: 50%;
    padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px 14px;
}
.image_content {
  position: relative;
  row-gap: 5px;
  padding: 25px 0;
}
.overlay {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #4070f4;
  border-radius: 25px 25px 0 25px;
}
.overlay::before,
.overlay::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -40px;
  height: 40px;
  width: 40px;
  background-color: #4070f4;
}
.overlay::after {
  border-radius: 0 25px 0 0;
  background-color: white;
}
.card_image .imgDiv{
  position: relative;
  height: 150px;
  width: 150px;
  margin-left: 20px;
  border-radius: 50%;
  background: #fff;
  padding: 3px;
}
.image{
    position: relative;
    margin-top: 5px;
    margin-left: 5px;
    object-fit: cover;
    border-radius: 50%;
}
.card_image{
  height: 100%;
  /* width: 100%; */
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #4070f4;
}
/* .imgDiv{
    top: 20px;
} */
.name {
  font-size: 2rem;
  font-weight: 600;
  color: #333;
}
.description {
  font-size: 1.5rem;
  color: #707070;
  text-align: center;
}
.button {
 
  border: none;
  /* width: 100%; */
  font-size: 1.5rem;
  color: #fff;
  padding: 8px 50px;
  background-color: #4070f4;
  border-radius: 6px;
  margin: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.button:hover {
  background: #265df2;
}

.swiper-navBtn {
  color: #6e93f7;
  transition: color 0.3s ease;
}
.swiper-navBtn:hover {
  color: #4070f4;
}
.swiper-navBtn::before,
.swiper-navBtn::after {
  font-size: 35px;
}
.swiper-button-next {
  right: 0;
}
.swiper-button-prev {
  left: 0;
}
.swiper-pagination-bullet {
  background-color: #6e93f7;
  opacity: 1;
}
.swiper-pagination-bullet-active {
  background-color: #4070f4;
}

@media screen and (max-width: 768px) {
  .slide-content {
    margin: 0 10px;
  }
  .swiper-navBtn {
    display: none;
  }
}
@media screen and (max-width: 400px) {
  .name{
    padding: 0px 10px 0px 10px;
  }
}
@media (max-width: 1100px) {
    .name{
        /* flex: column; */
        font-size: 1.5rem;
    }
    .description{
        font-size: 1rem;
    }
}




/* Navbar*/




.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 80px;
  width: 100vw;
	padding: 0 2rem;
	background-color: #29335c;
	color: #eee;
}

.nav .a {
	margin: 0 1rem;
	color: #eee;
	text-decoration: none;
}

.nav .a:hover {
	color: #db2b39;
}

.header .nav_btn {
	padding: 5px;
	cursor: pointer;
	background: transparent;
	border: none;
	outline: none;
	color: #eee;
	visibility: hidden;
	opacity: 0;
	font-size: 1.8rem;
}

.header .div,
.nav {
	display: flex;
	align-items: center;
}

@media only screen and (max-width: 600px) {
	.header .nav_btn {
		visibility: visible;
		opacity: 1;
	}

	.header .nav {
		position: fixed;
		top: -100vh;
		left: 0;
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 1.5rem;
		background-color: #29335c;
		transition: 1s;
	}

	.header .responsive_nav {
		transform: translateY(100vh);
	}
  .hi{
    color: red;
  }

	.nav .nav_close_btn {
		position: absolute;
		top: 2rem;
		right: 2rem;
	}

	.nav .a {
		font-size: 1.5rem;
	}
}